/*This is adding the btn-vintage colors*/
.btn-vintage {
    color: #fff;
    background-color: #00848c;
    border-color: #00848c; /*set the color you want here*/
}
.btn-vintage:hover, .btn-vintage:focus, .btn-vintage:active, .btn-vintage.active, .open>.dropdown-toggle.btn-vintage {
    color: #fff;
    background-color: #037272;
    border-color: #00848c; /*set the color you want here*/
}
.btn-check:focus+.btn-vintage,.btn-vintage:focus{box-shadow:0 0 0 .25rem rgba(0,132,140,0.4);}
.btn-check:active+.btn-vintage:focus,.btn-check:checked+.btn-vintage:focus,.btn-vintage.active:focus,.btn-vintage:active:focus,.show>.btn-vintage.dropdown-toggle:focus{box-shadow:0 0 0 .25rem rgba(0,132,140,0.4)}

.carousel {
    /*height: 800px;*/
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.carousel img {
    width:1200px;
    height:600px;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7));
}

.carousel-caption {
    color: #edebd9;
}
